build
prod
*.zip
fp-info-cache
*.lck
cad/KiCAD/SwiftSoilMoistureZigbeeSensor/Fab/
cad/KiCAD/SwiftSoilMoistureZigbeeSensor/*.csv
cad/KiCAD/SwiftSoilMoistureZigbeeSensor/*.xml
archives
releases
*.FCBak
